{#- SPDX-License-Identifier: AGPL-3.0-only -#}
{% extends "_layout.html.j2" %}{% block body %}
<p><a href="{{ link }}">Confirm your email address</a></p>
<p>The link works once and expires in {{ expires_hours }} hours.</p>
{% endblock %}
