{#- SPDX-License-Identifier: AGPL-3.0-only -#}
{% extends "_layout.html.j2" %}{% block body %}
<p>Someone asked to reset the password for your Pickwise account.</p>
<p><a href="{{ link }}">Choose a new password</a></p>
<p>The link works once and expires in {{ expires_minutes }} minutes. If you didn't ask for this, ignore this email; your password hasn't changed.</p>
{% endblock %}
